/* styles.css */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    background-color: white;
}

.container {
    background-image: url(./images/password\ generator.jpg);
    display: block;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-bottom: 20px;
}

.checkboxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#password {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.attribution {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
}

a {
    color: black;
}

a:visited {
    color: purple;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}

 @keyframes blink {
     0% {
         opacity: 1;
     }

     50% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 .blinking-text, .attribution {
     animation: blink 1s infinite;
 }